/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";

*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
header{
	background:#000;
	overflow:hidden;
}
	header .wrap{
		padding:15px;
		overflow:hidden;
	}
	#logo{
		color:#fff;
	}
		#logo strong{
			position:relative;
			top:-2px;
			margin-left:3px;
			font-size:16px;
			color:#fff;
		}
header i{
	cursor:pointer;
	display:block;
	font-size:23px!important;
}
.container{
	background:#ffdc32;
	clear:both;
	padding:10px;
}
.page-head{
	overflow:hidden;
}
	.page-head h2{
		font-size:21px;
	}
	.page-head p{
		font-size:13px;
		line-height:120%;
		padding-top:3px;
	}
footer{
	background:#000;
	padding:20px;
	color:#c4c4c4;
	font-size:12px;
	line-height:130%;
}