// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabgroup{
	border:1px solid #000;
	overflow:hidden;
	clear:both;
	border-radius:6px
}
.tabmenu{
	clear:both;
}
.tabmenu a{
	display:inline-block;
	width:50%;
	text-align:center;
	background:#000;
	color:#fff;
	padding:15px 0;
	font-size:18px;
	font-weight:bold
}
.tabmenu a.active{
	background:#fff;
	color:#000
}
.tabview{
}

#last_update{
	font-size:12px;
	padding:15px 0
}